<%= form_for((DocumentType.new)) do |f| %>
<div class="row">
    <div class="col-xs-7">
        <%= f.label :name, "Название" , class:"sr-only" %>

        <%= f.text_field :name, class:"form-control", placeholder:"Название вида документа" %>
    </div>
    <div class="col-xs-2">
        <%= f.submit "Добавить",  class:"btn " %>
    </div>
</div>
<% end %>
